.single-post-container {
	background-color: #acacac;
	color: black;
	width: min(70vw, 100%);
	max-width: 50rem;
	margin: 3rem auto;
	padding: 2rem;
	border-radius: 1rem;
}
.title {
	font-weight: bolder;
}
.back-home-btn {
	margin: 3rem;
}
.body {
	text-align: left;
}
.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
	text-align: left;
}
.markdown-body h1,
strong {
	font-weight: bold;
}
.markdown-body em {
	font-style: italic;
}
.markdown-body hr {
	margin: 0.5rem auto;
	margin-bottom: 2.5rem;
}
.markdown-body li {
	list-style-type: disc;
}
.markdown-body li li {
	list-style-type: square;
	margin-left: 1rem;
}
.markdown-body li li li {
	list-style-type: circle;
	margin-left: 2rem;
}
.markdown-body p::first-letter {
	font-size: 5rem;
}
@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
}
