@-webkit-keyframes blop {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.2;
	}
	100% {
		scale: 1;
	}
}
@keyframes blop {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.2;
	}
	100% {
		scale: 1;
	}
}
@-webkit-keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.card {
	-webkit-animation: appear 1s ease;
	        animation: appear 1s ease;
}
.card,
.add-card {
	transition: all 0.3s ease;
	width: min(70vw, 100%);
	border: 2px solid rgb(0, 0, 0);
	padding: 1rem;
	background-color: #acacac;
	margin: 1rem auto;
	position: relative;
	min-height: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
}
.add-card {
	cursor: pointer;
}
.add-icon {
	font-size: 3rem;
	margin-bottom: 1rem;
}
.add-card:hover .add-icon {
	-webkit-animation: blop 0.5s ease-in-out;
	        animation: blop 0.5s ease-in-out;
}
h1 {
	font-size: 1.8rem;
	font-family: var(--font-family__title);
}
a {
	text-decoration: none;
}
.slug {
	font-size: 1.2rem;
	position: relative;
	opacity: 0.9;
	font-style: italic;
	font-family: var(--font-family__slug);
}
.post-container {
	margin: 0;
	padding: 0;
	min-width: 100%;
	position: relative;
}
.delete-icon,
.modify-icon {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
}
.modify-icon {
	right: 5rem;
}
.readmore {
	padding: 0.5rem 1rem;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	transition: all 0.3s ease;
	color: black;
	border: 1px solid black;
	/* font-family: var(--font-family__body); */
}
.readmore:hover {
	transition: all 0.3s ease;
	transform: translateY(-3px);
}
.card:hover,
.add-card:hover {
	background-color: #e9e9e9;
	transition: all 0.3s ease;
}
.input-search-posts, fieldset {
	margin: 0 ;
	width: min(50rem, 100%);
	background-color: black;
	border: none;
	padding: 1rem;
	border-radius: 0.5rem;
	transition: all 0.3s ease;
	-webkit-animation: appear 1s ease;
	        animation: appear 1s ease;
}
fieldset {
	background-color: transparent;
	position: relative;	
	border : 2px solid red;
}
.input-search-posts:focus {
	background-color: rgb(255, 255, 255);
	transition: all 0.3s ease;
	color: black;
	-webkit-animation: appear 1s ease;
	        animation: appear 1s ease;
}



@media (max-width: 768px) {
	.card {
		min-width: 100%;
	}
	.readmore {
		position: relative;
		bottom: 0;
		right: 0;
	}
}
