.add-post-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: baseline;
	flex-wrap: nowrap;
	gap: 1rem;
	width: 90vw;
	min-height: fit-content;
	position: relative;
}
.title-label {
	min-width: 30%;
}
.slug-label {
	position: relative;
	min-width: 66.8%;
}
.body-input {
	min-width: 60vw;
	min-height: 60vh;
}
.title-input,
.slug-input {
	min-width: 100%;
}
.cancel-button,
.submit-button {
	position: absolute;
	border: none;
	border-radius: 0.3rem;
	padding: 0.5rem;
}
.cancel-button {
	right: 4rem;
	bottom: 4rem;
}
.submit-button {
	right: 14rem;
	bottom: 4rem;
}
.cancel-button:hover,
.submit-button:hover {
	transform: translateY(-2px);
	background-color: #ffffff8d;
	transition: all 0.3s ease;
}
